html,body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.block {
    flex: 1;
}
.header {
    top: 0; right: 0; left: 0; position: fixed;
    height: 36px;
    background-color: red;
}
.hero {
    background: grey;
    padding: 36px;
}
.content {

}
.footer {

}